body{
    margin-left:100px;
    margin-right:100px;
    background-color: rgb(116, 104, 228);
}
p.otstup{
    margin-top: 100px;
    color: white; 
}
#sode{
    margin-top: 50px;
}
a{
    color: aqua;
    text-decoration: none;
    font-size: 20px;
}


 



